.box {
  width: 90%;
  margin: 40px auto;
  display: flex;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: 600;
}

.blue_box {
  border: 2.5px solid #166ff3;
  padding: 5px;
  flex: 1;
  width: 25%;
  margin-left: 27%;
  margin-right: 1%;
  border-radius: 15px;
  text-align: center;
  color: #166ff3;
}

.red_box {
  border: 2.5px solid #f8123b;
  padding: 5px;
  flex: 1;
  width: 25%;
  margin-left: 1%;
  margin-right: 27%;
  border-radius: 15px;
  text-align: center;
  color: white;
  background-color: #f8123b;
}
